/* estilização pagina de login */

main{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cover-image{
    width: 50vw;
    height: 100%;
    z-index: 9;
    overflow: hidden;
}

.cover-image img{
    width: 100%;
    height: 100vh;
}

#signin-container{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    background: linear-gradient(to right, #fff, #2727270c);
    z-index: 8;
}

#signup-container{
    width: 50vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    background: linear-gradient(to right, #fff, #2727270c);
    z-index: 8;
}

#signup-container.active{
    display: flex;
}

#signin-container.toggle{
    display: none;
}

@keyframes slideToRight{
    to{
        transform: translateY(100%);
    }
}

#registerBtn{
    border: none;
    background-color: transparent;
    color: black;
}

#loginBtn{
    border: none;
    background-color: transparent;
    color: black;
}

#signin-container h1{
    color: rgba(30,30,30);
    font-weight: 20;
    margin: 5%;
}

#signup-container h1{
    color: rgba(30,30,30);
    font-weight: 20;
    margin: 5%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form p{
    margin-bottom: 2%;
    color: rgba(27, 27, 27);
}

form input{
    padding: 10px;
    width: 25vw;
    color: rgb(100, 100, 100);
    border: 1px solid black;
}

form input:hover{
    border: 1px solid black;
}

form input:focus{
    outline: none;
}

form h6{
    color: rgb(100, 100, 100);
    font-weight: lighter;
    font-size: 12px;
}

form a{
    text-decoration: none;
    color: rgb(30,30,30);
}

form button{
    height: 7vh;
    background-color: black;
    color: #fff;
    border: 1px solid black;
    transition: 200ms;
}

form button:hover{
    background-color: #fff;
    color: rgba(27, 27, 27);
    cursor: pointer;
}