/* estilização do header */

header nav {
    position: fixed;
    width: 100vw;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    z-index: 10;
}

nav div{
    width: 500px;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

nav .logo{
    width: fit-content;
    height: 12vh;
    overflow: hidden;
}

.logo img{
    margin-top: 12%;
    width: max-content;
    overflow: hidden;
    height: 50vh;
}

nav a{
    text-decoration: none;
    color: rgba(27, 27, 27, 0.8);
    font-size: 15px;
    font-weight: 100;
}

nav a:hover{
    text-decoration: none;
    color: rgba(27, 27, 27, 0.5);
    font-weight: 400;
}

/* estilização pagina de login */
main{
    width: 100vw;
    height: 100vh;
}

.login-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container h1{
    color: rgba(30,30,30);
    font-weight: 20;
    margin: 5%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form p{
    margin-bottom: 2%;
    color: rgba(27, 27, 27);
}

form input{
    padding: 10px;
    width: 25vw;
    color: rgb(100, 100, 100);
    border: 1px solid black;
}

form input:hover{
    border: 1px solid black;
}

form input:focus{
    outline: none;
}

form h6{
    color: rgb(100, 100, 100);
    font-weight: lighter;
    font-size: 12px;
}

form a{
    text-decoration: none;
    color: rgb(30,30,30);
}

form button{
    height: 7vh;
    background-color: black;
    color: #fff;
    border: 1px solid black;
    transition: 200ms;
}

form button:hover{
    background-color: #fff;
    color: rgba(27, 27, 27);
    cursor: pointer;
}